nc/xmlData/imagesSch.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2016 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="img">
		<xs:complexType>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Site Promo" />
						<xs:enumeration value="sample" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="src" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="/imgs/NightCrawlerR2C2.jpg" />
						<xs:enumeration value="/imgs/settingsIcon.jpg" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="url">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://wwww.iwaveinteractive.net" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="city">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Toronto" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="date">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="October 14, 2015" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="iWave Interactive" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="email">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="address" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="event">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title" />
				<xs:element ref="date" />
				<xs:element ref="img" />
				<xs:element ref="imgCollection" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="phone">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="primary" />
				<xs:element ref="secondary" />
				<xs:element ref="mobile" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Application Deployment" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="venue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="details" />
				<xs:element ref="events" />
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="events">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="event" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mobile">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="647-702-6991" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="postal">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="M6B 2Y7" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="region">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Ontario" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="venues">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="venue" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DepName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="IT and Communications" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="address">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="hsamnah@gmail.com" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contact">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="department" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="country">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Canada" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="details">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name" />
				<xs:element ref="description" />
				<xs:element ref="location" />
				<xs:element ref="contact" />
				<xs:element ref="url" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="primary">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="46-785-4334" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="location">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="streetAddressOne" />
				<xs:element ref="streetAddressTwo" />
				<xs:element ref="city" />
				<xs:element ref="region" />
				<xs:element ref="country" />
				<xs:element ref="postal" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="secondary">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="department">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DepName" />
				<xs:element ref="phone" />
				<xs:element ref="email" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="This is sample data" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="imgCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="img" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="streetAddressOne">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="406-2400 Bathurst St." />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="streetAddressTwo">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
</xs:schema>